<ul id="footer" class="nav">
  <li class="nav-item">
    <p class="nav-link disabled" >LibraryWare (c) 2022 Matthew Eilar & Tiffany Rodrigo</p>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://www.github.com/meilar">Matt's Github</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="http://www.github.com/tiffarodrigs">Tiffany's Github</a>
  </li>
</ul>